<div class="container-xxl bg-white p-0">
    <div class="container-xxl position-relative p-0">
        <div class="container-xxl colorclass hero-header">                 
            <div class="container-xxl py-1">
                <div class="container px-lg-3">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 mt-5">
                            <div class="card p-3 wow fadeInUp" data-wow-delay="0.3s">
                                <a href="" class="text-center">
                                    <img class="logo" src="assets/images/cg-logo.png" alt="Logo">
                                </a>
                                <div class="section-title position-relative text-center wow fadeInUp">
                                    <h1 style="color: rgb(20, 89, 148); font-size: 18px;"> 
                                            Welcome to HRMS Application <br>  
                                            for Chhattisgarh Regional Science Center </h1>
                                </div>
                                <div class="h4 text-center" style="color: rgb(5, 43, 77);"><strong>Login</strong></div>
                                <form [formGroup]="loginForm" (ngSubmit)="login()">                            
                                    <div class="input-group input-group-sm mb-4">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Please Enter EmployeeID" aria-label="EmployeeID" 
                                            formControlName="employeeid"  maxlength="10">
                                            <mat-error *ngIf="isValidInput('employeeid')">
                                                <mat-error *ngIf="loginForm.controls['employeeid'].errors!.required">
                                                    Employee ID is<strong> Compulsory </strong>.
                                                </mat-error>
                                            </mat-error>
                                      </div>
                                      <div class="input-group input-group-sm mb-4">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Please Enter Password" aria-label="Password"
                                        formControlName="password"  maxlength="10" (change)="onPassChangeEvent($event)" type="{{showPassword ? 'text':'password'}}">
                                        <span class="input-group-text"><input class="form-check-input" type="checkbox" (change)="showPassword=!showPassword"
                                                id="login-rem" name="remember">&nbsp;<i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <mat-error *ngIf="isValidInput('password')">
                                                    <mat-error *ngIf="loginForm.controls['password'].errors!.required">
                                                        Password is<strong> Compulsory </strong>.
                                                    </mat-error>
                                                </mat-error>        
                                        </div>
                                      <div class="col-12">
                                        <div class="form-floating">
                                            <div #dataContainer class="svg-img"></div>
                                            <button type="button" (click)="svgcaptcha()" class="input-group-text">
                                                <mat-icon>replay</mat-icon> 
                                            </button>
                                        </div>
                                        <br>
                                        <div class="input-group input-group-sm mb-4">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="fa fa-puzzle-piece"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Please Enter Captcha" aria-label="Captcha" aria-describedby="basic-addon1"
                                            formControlName="captcha"  maxlength="10">
                                          </div>
                                          <div class="text-danger text-center" *ngIf="showInvalid"><strong>
                                            {{errorText}}</strong></div>
                                            <p class="text-danger text-center" *ngIf="showCaptchaError"><strong>Captcha is Wrong</strong></p>
                                    </div>
                                      <div class="form-group form-actions">
                                        <!-- <a [routerLink]="['/hrmsadmin/dashboard']" class="btn btn-warning text-light rounded-pill py-2 px-4 ms-3">Login</a> -->
                                         <button type="submit" class="btn btn-warning text-light rounded-pill py-2 px-4 ms-3" id="loginButton">Login   </button> 
                                    </div>
                                </form>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>




    
    <div class="container-fluid colorclass text-light wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5 py-3">
                <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                    <img src="assets/images/Chips.jpg" alt="Logo" style="height: 50px;"> <br>
                    &copy;2023 <a class="border-bottom" href="#"></a>,Designed & Developed By
                    <br>Chhattisgarh Infotech Promotion Society , Government of Chhattisgarh , (<a class="border-bottom text-white"
                        href="https://chips.gov.in/" target="_blank">CHiPS</a> )
                </div>
                
            </div>
        </div>
    </div>
</div>