<div class="row match-height">
    <div class="col-12">
        <div class="card">
            <div class="bg-secondary p-1 text-white text-center">Note: <i
                class="fa fa-asterisk text-danger" aria-hidden="true"></i>fields are Compulsory</div>
                <mat-card-title class="text-center">Enter  Designation Details Here</mat-card-title>
                <hr>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" [formGroup]="designationentryform">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Department Name
                                        </mat-label>
                                        <input matInput formControlName="departmentname"  maxlength="100">                                                                               
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Designation
                                        </mat-label>
                                        <input matInput formControlName="designation"  maxlength="100">                                                                               
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Add Designation</button> &nbsp;&nbsp; 
                                </div>  
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
