.mat-card-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(50, 50, 105);
}

.our-team .picture {
    display: inline-block;
    height: 150px;
    width: 150px;
    z-index: 1;
    position: relative;
}