<div class="row match-height">
    <div class="col-12">
        <div class="card">
            <div class="bg-secondary p-1 text-white text-center">Note: <i
                class="fa fa-asterisk text-danger" aria-hidden="true"></i>fields are Compulsory</div>
                <mat-card-title class="text-center">Enter New Employee Details Here</mat-card-title>
                <hr>
                <div class="card-content">
                    <div class="card-body">
                        <h3 class="text-left">Personal Details</h3>
                        <form class="form" [formGroup]="employeeentryform">
                            <div class="row">
                                <div class="col-md-2">  
                                    <mat-form-field appearance="outline">
                                    <mat-label>Initial</mat-label>
                                    <mat-select formControlName="initial">                                   
                                            <mat-option>Mr.</mat-option>
                                            <mat-option>Miss.</mat-option>
                                            <mat-option>Mrs.</mat-option>
                                            <mat-option>Dr.</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>First Name
                                        </mat-label>
                                        <input matInput formControlName="firstname"  maxlength="100">                                                                               
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Middle Name
                                        </mat-label>
                                        <input matInput formControlName="middlename"  maxlength="100">                                                                               
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Last Name
                                        </mat-label>
                                        <input matInput formControlName="lastname"  maxlength="100">                                                                               
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">  
                                    <mat-form-field appearance="outline">
                                    <mat-label>Gender </mat-label>
                                    <mat-select formControlName="gender">                                   
                                            <mat-option>Male</mat-option>
                                            <mat-option>Female</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">  
                                    <mat-form-field appearance="outline">
                                    <mat-label>Category </mat-label>
                                    <mat-select formControlName="category">                                   
                                            <mat-option>UR</mat-option>
                                            <mat-option>OBC</mat-option>
                                            <mat-option>SC</mat-option>
                                            <mat-option>ST</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">                                    
                                    <mat-form-field appearance="fill">
                                        <mat-label>DOB</mat-label>
                                        <input matInput [max]="today" [matDatepicker]="picker"  [min]="minDate"
                                            formControlName="dob">
                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>                                    
                                </div>
                                <div class="col-md-3">  
                                    <mat-form-field appearance="outline">
                                    <mat-label>Highest Qualification </mat-label>
                                    <input matInput formControlName="degree"  maxlength="100">                                                                               
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Address
                                        </mat-label> 
                                        <textarea matInput formControlName="address"  maxlength="500" placeholder="Address"></textarea>                                                                             
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>City
                                        </mat-label>
                                        <input matInput formControlName="city"  maxlength="100">                                                                               
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>State
                                        </mat-label>
                                        <input matInput formControlName="state"  maxlength="100">                                                                               
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Pincode
                                        </mat-label>
                                        <input matInput formControlName="pincode"  maxlength="6">                                                                               
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" appearance="outline">
                                        <mat-label>Profile Photo </mat-label>
                                        <input id="profilepic" type="file" #inputFile1 class="form-control"
                                            (change)="onFileChange($event)" >
                                    </div>
                                </div>                            
                                <div class="col-md-6">
                                    <div class="our-team">
                                        <div class="picture">
                                            <img class="img-fluid" [src]="imagepreviewing1" alt="">
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-md-4"> 
                                    <mat-form-field appearance="outline">
                                        <mat-label>Contact Number
                                        </mat-label>
                                        <input matInput formControlName="number"  maxlength="10">                                                                               
                                    </mat-form-field>
                                </div>                                
                            </div>
                            <hr>
                            <h3 class="text-left">Professional Details</h3>
                            <div class="row">
                                <div class="col-md-4">  
                                    <mat-form-field appearance="outline">
                                    <mat-label>Designation </mat-label>
                                    <mat-select formControlName="designation">                                   
                                            <mat-option>Scientist</mat-option>
                                            <mat-option>HR</mat-option>
                                            <mat-option>Peon</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">  
                                    <mat-form-field appearance="outline">
                                    <mat-label>Department </mat-label>
                                    <mat-select formControlName="department">                                   
                                            <mat-option>Finance</mat-option>
                                            <mat-option>Admin</mat-option>
                                            <mat-option>HR</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">                                    
                                    <mat-form-field appearance="fill">
                                        <mat-label>Date of Joining</mat-label>
                                        <input matInput [max]="today" [matDatepicker]="picker1"  
                                            formControlName="doj">
                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"> 
                                    <mat-form-field appearance="outline">
                                        <mat-label>Posting Place
                                        </mat-label>
                                        <input matInput formControlName="pplace"  maxlength="100">                                                                               
                                    </mat-form-field>                                    
                                </div>
                                <div class="col-md-4"> 
                                    <mat-form-field appearance="outline">
                                        <mat-label>Official E-Mail
                                        </mat-label>
                                        <input matInput formControlName="email"  maxlength="10">                                                                               
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">  
                                    <mat-form-field appearance="outline">
                                    <mat-label>Employee Type </mat-label>
                                    <mat-select formControlName="employeetype">                                   
                                            <mat-option>Main Employee</mat-option>
                                            <mat-option>JRF</mat-option>
                                            <mat-option>Daily Wages</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Add Details</button> &nbsp;&nbsp; 
                                </div>   
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
